{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Придумайте никнейм (уникальный)'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Придумайте пароль'
        }) }}
        <p>Нажимая на кнопку вы принимаете условия обработки персональных данных</p>
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Принять условия'
        }) }}
        <button type="submit" class="btn">Зарегистрироваться</button>
    {{ form_end(registrationForm) }}
{% endblock %}
