{% extends 'base.html.twig' %}

{% block title %}Новый временной слот{% endblock %}

{% block body %}
    <h1>Создать новый временной слот</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.start_at) }}
    {{ form_row(form.end_at) }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    {{ form_end(form) }}

    <a href="{{ path('homepage') }}" class="btn btn-secondary">На главную</a>
{% endblock %}
